html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Farewell Pro Regular';
  src: url('/fonts/Farewell Pro Regular.ttf');
}

@font-face {
  font-family: 'MTF Wildflower';
  src: url('/fonts/MTF Wildflower.ttf');
}

@font-face {
  font-family: 'Noto Sans JP Regular';
  src: url('/fonts/Noto Sans JP Regular.otf');
}

@font-face {
  font-family: 'Lato Regular';
  src: url('/fonts/Lato Regular.ttf');
}

@font-face {
  font-family: 'Khand';
  src: url('/fonts/Khand-Regular.ttf');
}

@font-face {
  font-family: '001Shirokuma-Regular';
  src: url('/fonts/001Shirokuma-Regular.otf');
}
