html,
body,
#__next {
  height: 100%;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Farewell Pro Regular';
  src: url('/fonts/Farewell Pro Regular.ttf');
}

@font-face {
  font-family: 'MTF Wildflower';
  src: url('/fonts/MTF Wildflower.ttf');
}

@font-face {
  font-family: 'Noto Sans JP Regular';
  src: url('/fonts/Noto Sans JP Regular.otf');
}

@font-face {
  font-family: 'Lato Regular';
  src: url('/fonts/Lato Regular.ttf');
}

@font-face {
  font-family: 'Khand';
  src: url('/fonts/Khand-Regular.ttf');
}

@font-face {
  font-family: '001Shirokuma-Regular';
  src: url('/fonts/001Shirokuma-Regular.otf');
}

.header-and-body {
  min-height: 100%;
  /* background-color: #efefef; */
}
.header {
  border-bottom: 1px solid #dcdddd;
  height: 56px;
  text-align: center;
  background-color: #efefef;
  width: 100%;
  color: #4b4b4b;
}

.header h1 {
  font-size: 27px;
  font-family: '001shirokuma-Regular';
  margin: 0 auto;
  line-height: 56px;
}
.header nav {
  display: none;
}
.header nav ul {
  font-family: 'Noto Sans JP Regular';
  list-style: none;
  margin: 0;
  padding: 0;
}
.header .icon {
  fill: #4b4b4b;
}

/* ハンバーガーメニューの設定 */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 32px;
  height: 22px;
  right: 36px;
  top: 17px;
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #000;
}
/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #000;
}
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 30px;
  top: 17px !important;
  right: 36px !important;
}
/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
  /* デフォルトより大きいサイズに変更 */
  height: 24px !important;
}
/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}
/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  /* リンクの文字サイズ */
  font-size: 20px;
}
.bm-menu ul li {
  list-style: none;
  margin-bottom: 1em;
}
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}
/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}
/* Individual item */
.bm-item {
  display: inline-block;
}
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.main {
  font-family: 'Noto Sans JP Regular';
  background-color: #efefef;
}
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu {
  margin-bottom: 28px;
  border-radius: 10px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
}
.menu:first-child {
  margin-top: 28px;
}
.menu:last-child {
  margin-bottom: 75px;
}
.menu-link {
  width: 340px;
  height: 140px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.menu-link-block-1 {
  text-align: center;
}
.menu-title {
  font-size: 10px;
}
.menu-text {
  font-size: 10px;
}
.menu-horoscope {
  background-color: #6399d6;
}
.menu-numerology {
  background-color: #d3d662;
}
.menu-suimei {
  background-color: #d69a62;
}
.coming-soon {
  opacity: 0.5;
  position: relative;
}
.coming-soon::after {
  content: 'COMING SOON!';
  position: absolute;
  right: 113px;
  bottom: -32px;
}

.footer {
  font-family: 'Noto Sans JP Regular';
  padding-bottom: 32px;
}
.contact {
  text-align: center;
}
.copyright {
  width: fit-content;
  margin: 0 auto;
}
.twitter-logo {
  fill: #1d9bf0;
}

/* PC用 */
@media all and (min-width: 980px) {
  .bm-burger-button {
    display: none;
  }
  .header {
    border-bottom: none;
    height: 48px;
    text-align: left;
  }
  .header_wrapper {
    width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 48px;
  }
  .header h1 {
    margin: 0;
  }
  .header nav {
    display: block;
  }
  .header nav ul li {
    font-size: 14px;
    display: inline-block;
    width: 2.5rem;
    text-align: center;
  }
  .main {
    background-color: #fff;
    margin-top: 80px;
  }
  .menu-outer-container {
    background-color: #efefef;
    width: 980px;
    margin: 0 auto;
    padding: 69px 0;
  }
  .menu-container {
    width: 676px;
    margin: 0 152px;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu {
    margin-bottom: 0;
  }
  .menu:first-child {
    margin-top: 0;
  }
  .menu:last-child {
    margin-bottom: 0;
  }
  .menu-link {
    width: 186px;
    height: 180px;
  }
  .footer-spacer {
    height: 215px;
  }
  .coming-soon::after {
    right: 37px;
  }
}
