.header-and-body {
  min-height: 100%;
  /* background-color: #efefef; */
}
.header {
  border-bottom: 1px solid #dcdddd;
  height: 56px;
  text-align: center;
  background-color: #efefef;
}

.header h1 {
  font-size: 27px;
  font-family: '001shirokuma-Regular';
  margin: 0 auto;
  line-height: 56px;
}
.header nav {
  display: none;
}

.main {
  font-family: 'Noto Sans JP Regular';
  background-color: #efefef;
}
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu {
  margin-bottom: 28px;
  border-radius: 10px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
}
.menu:first-child {
  margin-top: 28px;
}
.menu:last-child {
  margin-bottom: 75px;
}
.menu-link {
  width: 340px;
  height: 140px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.menu-link-block-1 {
  text-align: center;
}
.menu-title {
  font-size: 10px;
}
.menu-text {
  font-size: 10px;
}
.menu-horoscope {
  background-color: #6399d6;
}
.menu-numerology {
  background-color: #d3d662;
}
.menu-four-pillars-of-destiny {
  background-color: #d69a62;
}
.coming-soon {
  opacity: 0.5;
  position: relative;
}
.coming-soon::after {
  content: 'COMING SOON!';
  position: absolute;
  right: 113px;
  bottom: -32px;
}

.footer {
  font-family: 'Noto Sans JP Regular';
}
.contact {
  text-align: center;
}
.copyright {
  width: fit-content;
  margin: 0 auto;
}

/* PC用 */
@media all and (min-width: 768px) {
  .header {
    border-bottom: none;
    height: 48px;
    text-align: left;
  }
  .header h1 {
    line-height: 48px;
    width: 980px;
  }
  .main {
    background-color: #fff;
    margin-top: 80px;
  }
  .menu-outer-container {
    background-color: #efefef;
    width: 980px;
    margin: 0 auto;
    padding: 69px 0;
  }
  .menu-container {
    width: 676px;
    margin: 0 152px;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu {
    margin-bottom: 0;
  }
  .menu:first-child {
    margin-top: 0;
  }
  .menu:last-child {
    margin-bottom: 0;
  }
  .menu-link {
    width: 186px;
    height: 180px;
  }
  .footer-spacer {
    height: 215px;
  }
  .coming-soon::after {
    right: 37px;
  }
}
