// 端末の横幅サイズ
$sp_width: 375;
// レスポンシブ計算用
@mixin width($target_width) {
  width: ($target_width / $sp_width) * 100vw;
}

.map {
  // リセット用
  input[type='text'],
  input[type='number'] {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    appearance: none;
  }
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  }

  height: 100%;
  // デザインカンプに合わせて調整
  line-height: 1.26;

  // 検索エリア
  .search_area {
    height: 216px;
    padding-top: 20px;
    .search_area_inner {
      @include width(355);
      margin: 0 auto;
      // 共通スタイル
      input[type='text'],
      input[type='number'] {
        line-height: 48px;
        border: 1px solid #767676;
        border-radius: 2px;
        font-size: 16px;
        padding-left: 10px;
      }
      form {
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;
        .search_groupe {
          @include width(323);
          position: relative;
          input {
            //ボタンの幅と余白分
            padding-right: calc(2.5em + 10px);
            &::placeholder {
              color: #adadad;
            }
          }
          button {
            position: absolute;
            top: 0;
            right: 10px;
            width: 2.5em;
            height: 100%;
            padding: 0;
          }
        }
      }
      .confirm_button {
        position: fixed;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
        width: 155px;
        line-height: 48px;
        background-color: #fff;
        font-size: 16px;
        color: #6399d6;
        font-weight: bold;
        border-radius: 2px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        &::before {
          content: '';
          background-image: url(../../public/images/map/back_blue.svg);
          display: inline-block;
          width: 16px;
          height: 16px;
          background-size: contain;
          background-repeat: no-repeat;
          vertical-align: middle;
          margin-right: 3px;
        }
      }
      .search_result {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 12px;
        .lat,
        .lng {
          @include width(173);
          label {
            display: block;
            margin-bottom: 8px;
          }
          input {
            width: 100%;
          }
        }
        .search_result_address {
          width: 100%;
          padding: 10px;
        }
      }
    }
  }
  // 地図エリア
  .map_area {
    height: calc(100vh - 216px);
    & > div {
      height: 100%;
    }
  }
}
