.numerology .header {
  background-color: transparent;
  margin-top: 0 !important;
}

.numerology .twitter-logo {
  fill: #4b4b4b;
}

.numerology .form_outer::before,
.numerology .form_outer::after,
.numerology .core_numbers_outer::before,
.numerology .core_numbers_outer::after {
  content: '';
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
}
.numerology .form_outer::before {
  background-image: url(/images/numerology/leaf.svg);
  width: 60px;
  height: 60px;
  transform: rotate(12deg);
  top: 10px;
  left: 10px;
}
.numerology .form_outer::after {
  background-image: url(/images/numerology/flower.svg);
  width: 60px;
  height: 60px;
  transform: rotate(12deg);
  bottom: 10px;
  right: 10px;
}
.numerology .core_numbers_outer::before {
  background-image: url(/images/numerology/bird-1.svg);
  width: 60px;
  height: 60px;
  /* transform: rotate(12deg); */
  top: 10px;
  left: 20px;
}
.numerology .core_numbers_outer::after {
  background-image: url(/images/numerology/bird-2.svg);
  width: 60px;
  height: 60px;
  /* transform: rotate(12deg); */
  bottom: 10px;
  right: 20px;
}

/* ページ全体 */
.numerology .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 2rem;
  background-color: #ebebc1;
  font-family: 'Lato Regular', 'Noto Sans JP Regular';
}
/* 子要素の間隔 */
.numerology .wrapper > :not([hidden]) ~ :not([hidden]) {
  margin-top: 1rem;
  margin-bottom: 0;
}
.numerology .contents {
  width: 100%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.numerology .contents > :not([hidden]) ~ :not([hidden]) {
  margin-top: 2rem;
  margin-bottom: 0;
}
.numerology .page_title {
  font-family: 'MTF Wildflower';
  font-size: 4.5rem;
  line-height: 1;
  text-align: center;
}
.numerology .section_title {
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
}

/* 情報入力とコアナンバーの枠 */
.numerology .card {
  position: relative;
  padding: 2rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 1rem 2.5rem;
  background-color: #fff;
}

/* 情報入力 */
.numerology .form_outer form {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.numerology .form_row {
  display: flex;
  margin-bottom: 32px;
}
.numerology .form_label {
  width: 180px;
}
.numerology .form_input {
  width: 200px;
}
.numerology .form_input input {
  width: 100%;
}
.numerology .kana_to_romaji {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration-line: underline;
  cursor: pointer;
}
.numerology .submit_button {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: solid 2px #ba6f87;
  border-radius: 0.375rem;
  outline: none;
  background-color: transparent;
  color: #ba6f87;
  font-weight: 700;
  cursor: pointer;
  appearance: none;
}

/* コアナンバー */
.numerology .core_numbers {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.numerology .core_number_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.numerology .core_number_item > :not([hidden]) ~ :not([hidden]) {
  margin-top: 1rem;
  margin-bottom: 0;
}
/* 五角形の枠。外側の五角形に、ひとまわり小さい白い五角形を重ねて、線に見せている */
.numerology .core_number {
  position: relative;
  width: calc(120px * 1.05);
  height: 120px;
  background: #9a8eb6;
  clip-path: polygon(50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
}
.numerology .core_number_inner_position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.numerology .core_number_inner {
  width: calc(114px * 1.05);
  height: 114px;
  background: #fff;
  clip-path: polygon(50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
}
.numerology .core_number_value_position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
}
.numerology .core_number_value {
  color: #9a8eb6;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1;
}

@media (min-width: 640px) {
  .numerology .page_title {
    font-size: 10rem;
    line-height: 1;
  }
  .numerology .section_title {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .numerology .form_outer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
  .numerology .core_numbers {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    width: 28rem;
    padding-top: 0;
    padding-bottom: 0;
  }
}
